.project-menu{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;

  &__item {
    width: 100%;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    border: 1px dashed #0c0b48;
    display: block;
    width: 100%;
    color: #ffffff;
    padding: 20px 0;
    background-color: #9796ef;
    // border-radius: 15px;
    border-radius: 54% 32% 68% 46% / 38% 62% 76% 24%;
  }

}
