.resume {
  .resume__title{
    @include section-title($secondary-color);
  }

  &__detail {

    .resume-content{
      display: flex;
      border-radius: 6px;
      flex-basis: 60%;
      margin-bottom: 15px;
      position: relative;
      

      &__year-map {
        @include resume-year-map($secondary-color);
        width: 25%;
        flex-shrink: 0;

        h3 {
          font-size: 20px;
          font-weight: bold;
        }
      }

      &__desc {
        background-color: lighten($secondary-color, 60%);
        padding: 15px;
        width: 75%;
      }

      &__company-name {
        font-size: 20px;
      }
  
      &__designation {
        font-size: 30px;
        font-weight: bold;
      }
  
      &__responsibility {
        margin-top: 15px;
      }
    }
  }

}

.edu-qualification{
  &__title{
    @include section-title( #f662a9);
  }

  .resume-content__year-map{
    @include resume-year-map(#f662a9);
  }

  .resume-content__desc {
    background-color: lighten(#f662a9, 60%);
  }
}