.about{
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      width: 50%;
    }
    
    &__name {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__designation {
      font-size: 14px;
      color: main-text-color($primary-color);
      margin-bottom: 10px;
    }

    &__description {
      color: main-text-color($primary-color);
      margin-bottom: 10px;
    }
  }

  .skills{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .skill-area__title {
    text-align: center;
  }


  .skills__item {
    font-size: 55px;
    padding: 15px;
  }
  .html {
    color: #e34c26;
  }
  .css {
    color: #264de4;
  }
  .bootstrap {
    color: #563d7c
  }
  .sass {
    color: #CD6799
  }
  .js {
    color: #323330
  }
  .react {
    color: #61DBFB
  }
  .node {
    color: #3c873a
  }
  .git {
    color: #f34f29
  }
  .sills__name {
    display: block;
    font-size: 20px;
  }
  .skills__item {
      text-align: center;
  }

}